.wallet_form {
  align-items: center;
  animation: add 1s forwards;
  background-color: #25a570;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-start;
  width: 100%;
}

@keyframes add {

  to {
    background-color: #414141;
  }
}

.wallet_form-edit {
  align-items: center;
  animation: edit 1s forwards;
  background-color: #414141;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-start;
  width: 100%;
}

@keyframes edit {

  to {
    background-color: #25a570;
  }
}

.wallet_form-edit label, .wallet_form label {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: flex-start;
  margin: 10px;
}

.wallet_form-input {
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  height: 2rem;
  margin-left: 7px;
}

.wallet_form-input option {
  font-size: 1.2rem;
}

.wallet_form-input-valor {
  width: 120px;
}

.wallet_form-add-button {
  background-color: #2173b6;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  height: 3rem;
  margin-left: 4px;
  width: 9rem;
}

.wallet_form-edit-button {
  background-color: #414141;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  height: 3rem;
  margin-left: 4px;
  width: 9rem;
}
