.form_page_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 50%;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
}

.input_login {
  height: 10%;
  width: 70%;
  margin: 5px 0;
  font-size: 1rem;
}

.form_page_login button {
  height: 10%;
  width: 70%;
  border: none;
  border-radius: 4px;
  background-color: #25a570;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.form_page_login button:hover {
  background-color: #000000;
  color: #25a570;
}

.form_page_login button:disabled {
  background-color: #b7b9b9;
  color: #e4e4e4;
  cursor: not-allowed;
}
