.main_page {
  width: 100%;
  height: 100%;
}

/* Login page style */

.form_page_login {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login_form {
  width: 35%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 10px;
}

.input_login {
  width: 70%;
  height: 10%;

  margin: 5px 0;

  font-size: 1rem;
}

.form_page_login button {
  width: 70%;
  height: 10%;

  border: none;
  border-radius: 4px;

  background-color: #25a570;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.form_page_login button:hover {
  background-color: #000000;
  color: #25a570;
}

.form_page_login button:disabled {
  background-color: #b7b9b9;
  color: #e4e4e4;

  cursor: not-allowed;
}

/* Wallet page style */

.wallet_page {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wallet_header {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  background-color: rgb(197, 197, 197);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 1%,
    rgba(77, 77, 77, 1) 6%,
    rgb(221, 221, 221) 8%
  );
  border-bottom: 1px solid black;
}

.wallet_header h2 {
  margin: 3px;

  font-weight: 500;
  font-size: 1.1rem;
}

.wallet_header h2:last-child {
  margin-right: 15px;
}

h2.email_header {
  margin-right: 60px;
}

.wallet_form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;

  background-color: #25a570;
  animation: add 1s forwards;
}

@keyframes add {
  to {
    background-color: #414141;
  }
}

.wallet_form-edit {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100px;
  
  background-color: #414141;
  animation: edit 1s forwards;
}

@keyframes edit {
  to {
    background-color: #25a570;
  }
}

.wallet_form-edit label,
.wallet_form label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 10px;

  font-weight: 500;

  color: white;
}

.wallet_form-input {
  height: 2rem;
  margin-left: 7px;

  border-radius: 5px;
  border: none;

  font-size: 1.2rem;
}

.wallet_form-input option {
  font-size: 1.2rem;
}

.wallet_form-input-valor {
  width: 120px;
}

.wallet_form-add-button {
  height: 3rem;
  width: 9rem;
  margin-left: 4px;
  background-color: #2173b6;

  border: none;
  border-radius: 5px;

  color: white;
  font-weight: 500;
}

.wallet_form-edit-button {
  height: 3rem;
  width: 9rem;
  margin-left: 4px;
  background-color: #414141;

  border: none;
  border-radius: 5px;

  color: #ffffff;
  font-weight: 500;
}

.wallet_table {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.wallet_table thead,
tbody,
tr {
  width: 100%;
  display: inline-block;
}

.wallet_table thead {
  height: 50px;
  background-color: #333232;
}

.wallet_table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wallet_table thead tr {
  height: 100%;
}

.wallet_table th {
  color: white;
  width: 15%;
  text-align: center;
}

.wallet_table tbody tr {
  border-bottom: 2px solid #b7b9b9;
}

.wallet_table td {
  text-align: center;
}

.wallet_table td {
  width: 15%;
  text-align: center;
}

.wallet_table-edite {
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #ebb402;
  margin-right: 4px;
  font-weight: 500;
}

.wallet_table-delete {
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: #ff4848;
  color: white;
  font-weight: 500;
}
