.wallet_table {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: flex-start;
  width: 100%;
}

.wallet_table thead, tbody, tr {
  display: inline-block;
  width: 100%;
}

.wallet_table thead {
  background-color: #333232;
  height: 50px;
}

.wallet_table tr {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.wallet_table thead tr {
  height: 100%;
}

.wallet_table th {
  color: white;
  text-align: center;
  width: 15%;
}

.wallet_table tbody tr {
  background-color: #f3f3f3;
  border-bottom: 2px solid #b7b9b9;
}

.wallet_table td {
  text-align: center;
  width: 15%;
}

.wallet_table-edite {
  background-color: #ebb402;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  height: 25px;
  margin-right: 4px;
}

.wallet_table-delete {
  background-color: #ff4848;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  height: 25px;
}
